.btn{
    background-color: #d29bfd;
    color:rgb(112, 60, 127);
    font-weight: bold;
    border-width: medium;
    margin-bottom: 3%;
    padding: 8px;
}

.form-group{
    color:rgb(112, 60, 127);
}